<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录失败</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        h1 {
            text-align: center;
            font-size: 100px; 
        }
    </style>
</head>
<body>
    <h1>登录失败</h1>
</body>


<style>
    body {
        background-image: url('https://www.pexels.com/zh-cn/photo/305821/');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

</html>
